version: "3.7"

volumes:
  pg-data:

networks:
  web:

services:
  nginx: 
    image: nginx:1.20.2-alpine
    container_name: nest-auth-proxy
    restart: unless-stopped
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf    
      - ./nginx/www:/data/www   
    ports:
      - 80:80
    depends_on:
      - app
      - keycloak
    networks:
      - web

  app:
    container_name: "nest-auth-app"
    build: .
    entrypoint: ./entrypoint.sh    
    ports:
      - 3000:3000
    environment:
      NODE_ENV: "development"
    volumes:
      - .:/app
    # extra_hosts:
    #   - "host.docker.internal:192.168.2.11" # Precisa alterar em /etc/hosts e add 127.0.0.1 host.docker.internal
    depends_on:
      - db
    networks:
      - web

  db:    
    image: 'postgres:12-alpine' 
    container_name: "nest-auth-db"
    environment:
      PGDATA: /var/lib/postgresql/data/pg-data
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_HOST_AUTH_METHOD: trust    
    ports:
      - 5434:5432
    volumes:
      - 'pg-data:/var/lib/postgresql/data'
    networks:
      - web

  keycloak:
    image: quay.io/keycloak/keycloak:16.1.0
    container_name: "nest-auth-keycloak"    
    restart: always
    ports:
      - 8080:8080
    environment:
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
      - PROXY_ADDRESS_FORWARDING=true  #important for reverse proxy
      - DB_VENDOR=postgres
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_ADDR=db
      - DB_PORT=5432
      - DB_DATABASE=keycloak
    volumes:
      - ./keycloak/realm-export.json:/tmp/import-realm.json  # exporta a config
    depends_on:
      - db
    networks:
      - web